USE [VGS_IDASH]
GO
/****** Object:  StoredProcedure [dbo].[SP_METRIX_Location]    Script Date: 3/27/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure  [dbo].[SP_METRIX_Location]       
--This procedure is used to correct ANS issues              
AS      
BEGIN      
      
declare @metrix [varchar](100) = 'SP_METRIX_Location'      
declare @starttime datetime = getdate()      
declare @endtime datetime = getdate()-100      
--insert into [VGS_IDASH].[dbo].[VGS_UPDATE_TABLE_HISTORY]      
-- select ''as customer,@metrix as Metrix,6 as Runevery,@starttime,@endtime,dateadd(HOUR,6.5,@starttime) nextruntime,count(*) from [VGS_IDASH].[dbo].[METRIX_location]      
/** place at end of sp      
      
update  [VGS_IDASH].[dbo].[VGS_UPDATE_TABLE_HISTORY]      
set @endtime = getdate()      
 where       
 ''=  customer and @Metrix =  Metrix and [begintime] = @starttime and [EndTime] = @endtime      
 **/       
      
     
      
-- Multi Companies      
      
      
 delete from  [VGS_IDASH].[dbo].[Import_LOCATION]     
       
       
 BULK INSERT  [VGS_IDASH].[dbo].[Import_LOCATION]      
  from 'E:\Data_import\ALMS\INBOUND\location.csv'      
   with ( FIRSTROW = 2,FIELDTERMINATOR = '","',      
    ROWTERMINATOR = '\n')      
while  (select count(*) from [VGS_IDASH].[dbo].[IMPORT_location]) > 0       
     
begin   
  
-- table which shows all locations in ALMS for nmx routing
TRUNCATE TABLE dbo.metrix_location_all;

INSERT INTO dbo.metrix_location_all
(
    [Location_Code],
    [Location_Name],
    [Address],
    [City],
    [State],
    [Zip],
    [Filler_1],
    [Country],
    [Is_Active_],
    [Is_Valid_],
    [Create_Date],
    [Last_Updated]
)
SELECT DISTINCT
    REPLACE([_Location_Code_], '"', '')          AS [Location_Code],
    [_Location_Name_]                            AS [Location_Name],
    [_Address_]                                  AS [Address],
    [_City_]                                     AS [City],
    [_State_]                                    AS [State],
    [_Zip_]                                      AS [Zip],
    LEFT([_Filler_1_], 3)                        AS [Filler_1],
    [_Country_]                                  AS [Country],
    [_Is_Active__]                               AS [Is_Active_],
    [_Is_Valid__]                                AS [Is_Valid_],
    CAST([_Create_Date_] AS DATETIME)            AS [Create_Date],
    GETDATE()                                    AS [Last_Updated]
FROM [VGS_IDASH].[dbo].[Import_LOCATION];
      
UPDATE [VGS_IDASH].[dbo].[Import_LOCATION]      
 set _LocationType_ = 'Supplier'      
  where _location_code_ ='"X-Way'      
   and _LocationType_ = 'Crossdock'      
--begin tran      
delete from [vgs_idash].[dbo].[METRIX_location]  where customer not in ('fau','sia')       
  
  
       
      
      
      
insert into [vgs_idash].[dbo].[METRIX_location]      
      
      
select distinct * from (      
      
select * from (      
SELECT distinct right([_Location_Code_],len([_Location_Code_])-1)  as Location_Code      
,[_Location_Name_]  as Location_Name      
,[_Address_]  as Address      
,[_City_]  as City      
,[_State_]  as State      
,CASE WHEN LEN([_ZIP_]) = 4 THEN CONCAT('0',_ZIP_) ELSE _ZIP_ END   as ZIP      
,[_Region_]  as Region      
,[_Country_]  as Country      
,[_Timezone_]  as Timezone      
,[_Longitude_]  as Longitude      
,[_Latitude_]  as Latitude      
,[_Calendar_]  as Calendar      
,[_LocationType_]  as LocationType      
,[_Sign_off_Period_]  as Sign_off_Period      
,[_Sign_off_Invalid_Reason_]  as Sign_off_Invalid_Reason      
,[_LE_]  as LE      
,[_Phone_]  as Phone      
,[_Fax_]  as Fax      
,[_E_Mail_]  as E_Mail      
,[_Web_Site_]  as Web_Site      
,[_Comments_]  as Comments      
,[_Is_Active__]  as Is_Active_      
,[_Is_Valid__]  as Is_Valid_      
,[_Invalid_Reason_]  as Invalid_Reason      
,[_Group_]  as [Group]      
,[_Sub_Group_]  as Sub_Group      
,[_Filler_1_]  as Filler_1      
,[_Filler_2_]  as Filler_2      
,[_Filler_3_]  as Filler_3      
,[_Filler_4_]  as Filler_4      
,[_Filler_5_]  as Filler_5      
,[_Status_]  as Status      
,cast([_Create_Date_] as date)  as Create_Date      
,[_Create_User_]  as Create_User      
,cast([_Update_Date_] as date)  as Update_Date      
,replace([_Update_User_],'"','')  as Update_User      
--,'NIS' Customer      
,left(customer,3) Customer      
,getdate() Last_updated      
  FROM [vgs_idash].[dbo].[Import_LOCATION]      
  , [vgs_idash].[dbo].METRIX_RPT_NXD_TRANSIT_Brief_Locations      
   where replace([_Location_Code_],'"','') = short_supplier      
    and [_LocationType_] = locationtype) List1      
      
union all      
      
      
select * from       
 (SELECT distinct  right([_Location_Code_],len([_Location_Code_])-1)  as Location_Code      
,[_Location_Name_]  as Location_Name      
,[_Address_]  as Address      
,[_City_]  as City      
,[_State_]  as State      
,CASE WHEN LEN([_ZIP_]) = 4 THEN CONCAT('0',_ZIP_) ELSE _ZIP_ END   as ZIP      
,[_Region_]  as Region      
,[_Country_]  as Country      
,[_Timezone_]  as Timezone      
,[_Longitude_]  as Longitude      
,[_Latitude_]  as Latitude      
,[_Calendar_]  as Calendar      
,[_LocationType_]  as LocationType      
,[_Sign_off_Period_]  as Sign_off_Period      
,[_Sign_off_Invalid_Reason_]  as Sign_off_Invalid_Reason      
,[_LE_]  as LE      
,[_Phone_]  as Phone      
,[_Fax_]  as Fax      
,[_E_Mail_]  as E_Mail      
,[_Web_Site_]  as Web_Site      
,[_Comments_]  as Comments      
,[_Is_Active__]  as Is_Active_      
,[_Is_Valid__]  as Is_Valid_     
,[_Invalid_Reason_]  as Invalid_Reason      
,[_Group_]  as [Group]      
,[_Sub_Group_]  as Sub_Group      
,[_Filler_1_]  as Filler_1      
,[_Filler_2_]  as Filler_2      
,[_Filler_3_]  as Filler_3      
,[_Filler_4_]  as Filler_4      
,[_Filler_5_]  as Filler_5      
,[_Status_]  as Status      
,cast([_Create_Date_] as date)  as Create_Date      
,[_Create_User_]  as Create_User      
,cast([_Update_Date_] as date)  as Update_Date      
,replace([_Update_User_],'"','')  as Update_User      
--,'NIS' Customer      
,left(O.filler_1,3) as customer      
,getdate() Last_updated      
  FROM [vgs_idash].[dbo].[Import_LOCATION] L      
  , [VGS_IDASH].[dbo].[Metrix_OD] O      
   where replace([_Location_Code_],'"','') = Supplier_Location_Code      
         
  and o.filler_1 is not null) List2 ) all_list      
ORDER BY 6        
      
--insert missing locations
insert into [vgs_idash].[dbo].[METRIX_location]  

select distinct  
left(replace(_Location_Code_,'"',''),50) Location_Code      
,[_Location_Name_]  as Location_Name      
,left([_Address_],150)  as Address      
,[_City_]  as City      
,[_State_]  as State      
,CASE WHEN LEN([_ZIP_]) = 4 THEN CONCAT('0',_ZIP_) ELSE _ZIP_ END   as ZIP      
,[_Region_]  as Region      
,[_Country_]  as Country      
,[_Timezone_]  as Timezone      
,[_Longitude_]  as Longitude      
,[_Latitude_]  as Latitude      
,[_Calendar_]  as Calendar      
,[_LocationType_]  as LocationType      
,[_Sign_off_Period_]  as Sign_off_Period      
,[_Sign_off_Invalid_Reason_]  as Sign_off_Invalid_Reason      
,[_LE_]  as LE      
,[_Phone_]  as Phone      
,[_Fax_]  as Fax      
,[_E_Mail_]  as E_Mail      
,left([_Web_Site_],49)  as Web_Site      
,left([_Comments_],99)  as Comments      
,[_Is_Active__]  as Is_Active_      
,[_Is_Valid__]  as Is_Valid_      
,[_Invalid_Reason_]  as Invalid_Reason      
,[_Group_]  as [Group]      
,[_Sub_Group_]  as Sub_Group      
,[_Filler_1_]  as Filler_1      
,[_Filler_2_]  as Filler_2      
,[_Filler_3_]  as Filler_3      
,[_Filler_4_]  as Filler_4      
,[_Filler_5_]  as Filler_5      
,[_Status_]  as Status      
,cast([_Create_Date_] as date)  as Create_Date      
,[_Create_User_]  as Create_User      
,cast([_Update_Date_] as date)  as Update_Date      
,replace([_Update_User_],'"','')  as Update_User      
--,'NIS' Customer      
,[_Filler_1_] Customer      
,getdate() Last_updated      



from [VGS_IDASH].[dbo].[Import_LOCATION]  L
	left join [VGS_IDASH].[dbo].[Metrix_LOCATION] ML
	on replace(L._Location_Code_,'"','') = ml.Location_Code

where ml.Location_Code is null
--and l._Location_Code_ = 'ims'
and L._Filler_1_ <> ''
and len(L._Filler_1_) = 3
order by 1





delete from  [VGS_IDASH].[dbo].[Import_LOCATION]      
      
end      
       
      
      
      
      
--select customer,count(*) from [VGS_IDASH].[dbo].[Metrix_LOCATION] group by customer      
      
      
/** remove for cleanup of databases **/      
      
delete from  [VGS_IDASH].[dbo].[Metrix_VNLO_SIA_ALMS_LOCATION]       
      
insert into  [VGS_IDASH].[dbo].[Metrix_VNLO_SIA_ALMS_LOCATION]       
select * from  [VGS_IDASH].[dbo].[Metrix_LOCATION]       
      
      
delete from [VGS_IDASH].[dbo].[VNLO_SIA_ALMS_LOCATION]       
      
insert into  [VGS_IDASH].[dbo].[VNLO_SIA_ALMS_LOCATION]       
select * from  [VGS_IDASH].[dbo].[Metrix_LOCATION]       
      
/**  end remove for cleanup of databases **/      
      
      
--update  [VGS_IDASH].[dbo].[VGS_UPDATE_TABLE_HISTORY]      
--set [endtime] = getdate()      
-- where       
-- ''=  customer and @Metrix =  Metrix and [begintime] = @starttime       
       
select customer,count(*) from  [VGS_IDASH].[dbo].[Metrix_LOCATION] group by customer      
End