USE [VGS_IDASH]
GO
/****** Object:  StoredProcedure [dbo].[SP_METRIX_RPT_PCA_PLANT_2306]    Script Date: 8/14/2026 10:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[SP_METRIX_RPT_PCA_PLANT_2306]  
as  
begin  
  
truncate table [IMPORT_RPT_PCA_PLANT_2306]  
 BULK INSERT  [VGS_IDASH].[dbo].[IMPORT_RPT_PCA_PLANT_2306]  
--BULK INSERT  [VGS_IDASH].[dbo].[IMPORT_VGS_LOAD_LEG_STOP_HOURLY_adjusted]  
  from 'E:\Data_Import\ALMS\Inbound\RPT_PCA_PLANT.csv'  
   with ( FIRSTROW = 2,FIELDTERMINATOR = '","',  
    ROWTERMINATOR = '\n')  
 --select * from  IMPORT_RPT_PCA_PLANT_2306
if (select count(*) from  [IMPORT_RPT_PCA_PLANT_2306] ) > 0
begin

truncate table  METRIX_RPT_PCA_PLANT_2306  
Insert into METRIX_RPT_PCA_PLANT_2306  
Select  Replace([Route_Ver_Leg],'"','') Route_Ver_Leg  
       ,[Acc_Loc]  
      ,[Customer]  
      ,[Acc_Loc_Name]  
      ,[Eff_Date]  
      ,[Term_Date]  
      ,[Allocation]  
      ,[Weekly_Alloc_Handling]  
      ,[Weekly_Alloc_Fuel]  
      ,[Weekly_Alloc_Stop_Charges]  
      ,[Weekly_Loaded_Cost]  
      ,[Weekly_Total_Cost]  
      ,[Filler_1]  
      ,[Create_Date]  
      ,[Create_User]  
      ,[Update_Date]  
      ,[Update_User]  
      ,[Trip_Mode]  
      ,[Trip_Route_Pattern]  
      ,[SCAC]  
      ,[SCAC_Name]  
      ,[Planned_Wt]  
      ,[Trip_Freq]  
      ,[Alloc_Handling]  
      ,[Alloc_Fuel]  
      ,[Alloc_Stop_Charges]  
      ,[Alloc_Loaded_Cost]  
      ,[Alloc_Total_Cost]  
      ,[Trip_Is_RT]  
      ,[Filler_2]  
   ,Getdate() Last_update  
     
  FROM [VGS_IDASH].[dbo].[IMPORT_RPT_PCA_PLANT_2306] 
  End
  END