USE [VGS_IDASH]
GO
/****** Object:  StoredProcedure [dbo].[SP_METRIX_RPT_NXD_TRANSIT]    Script Date: 8/28/2026 4:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
----exec [VGS_IDASH].[dbo].[SP_METRIX_RPT_NXD_TRANSIT]     
ALTER procedure  [dbo].[SP_METRIX_RPT_NXD_TRANSIT]     
--This procedure is used to correct ANS issues            
AS    
BEGIN    
    
    
  
    
delete from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]    
 BULK INSERT  [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]    
  from 'E:\Data_Import\ALMS\Inbound\RPT_NXD_TRANSIT.csv'    
   with ( FIRSTROW = 2,FIELDTERMINATOR = '","',    
    ROWTERMINATOR = '\n')    
--select * from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]    
    
   
  
  --Update [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]     
  --set [_Ship_Time_] = dateadd(day,14,[_Ship_Time_])  
  
while  ( select count(*) from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]) > 0    
begin     
DELETE FROM [VGS_IDASH].[dbo].[METRIX_RPT_NXD_TRANSIT]
WHERE Customer IS NULL
   OR UPPER(LTRIM(RTRIM(Customer))) NOT IN ('FAU', 'SIA');
    
--insert  into   [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT_TEMPCUST]    
delete from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT_TEMPCUST]    
insert into  [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT_TEMPCUST]    
    
select replace([_Plant_],'"','')PLANT    
,[_Plant_Name_]  Plant_Name    
,[_Supplier_]  Supplier    
,left([_Supplier_Name_],50)  Supplier_Name    
,[_Supplier_City_]  Supplier_City    
,[_Supplier_State_]  Supplier_State    
,[_Suppleir_Zip_]  Suppleir_Zip    
,[_Supplier_Country_]  Supplier_Country    
,cast([_Route_Eff_Date_]  as datetime) Route_Eff_Date    
,cast([_Route_Term_Date_]   as datetime)Route_Term_Date    
,[_Route_Type_]  Route_Type    
,[_OW_RT_]  OW_RT    
,[_Transporter_]  Transporter    
,[_SCAC_]  SCAC    
,[_SCAC_Name_]  SCAC_Name    
,[_Managed_By_]  Managed_By    
,[_Pickup_Route_]  Pickup_Route    
,[_Mode_]  Mode    
,[_Ship_Day_]  Ship_Day    
,cast([_Ship_Time_] as datetime) Ship_Time    
,[_Ship_Cube_____]  Ship_Cube    
,[_Ship_Weight_]  Ship_Weight    
,[_CD1_]  CD1    
,[_CD1_Arr_Day_]  CD1_Arr_Day    
,cast([_CD1_Arr_Time_]  as datetime)CD1_Arr_Time    
,[_Shuttle_1_Route_]  Shuttle_1_Route    
,[_CD1_Dep_Day_]  CD1_Dep_Day    
,cast([_CD1_Dep_Time_]  as datetime)CD1_Dep_Time    
,[_CD2_]  CD2    
,[_CD2_Arr_Day_]  CD2_Arr_Day    
,cast([_CD2_Arr_Time_]  as datetime)CD2_Arr_Time    
,[_Shuttle_2_Route_]  Shuttle_2_Route    
,[_CD2_Dep_Day_]  CD2_Dep_Day    
,[_CD2_Dep_Time_]  CD2_Dep_Time    
,[_CD3_]  CD3    
,[_CD3_Arr_Day_]  CD3_Arr_Day    
,cast([_CD3_Arr_Time_]  as datetime)CD3_Arr_Time    
,[_Shuttle_3_Route_]  Shuttle_3_Route    
,[_CD3_Dep_Day_]  CD3_Dep_Day    
,cast([_CD3_Dep_Time_] as datetime) CD3_Dep_Time    
,[_CD4_]  CD4    
,[_CD4_Arr_Day_]  CD4_Arr_Day    
,cast([_CD4_Arr_Time_] as datetime) CD4_Arr_Time    
,[_CD4_Dep_Day_]  CD4_Dep_Day    
,cast([_CD4_Dep_Time_]  as datetime) CD4_Dep_Time    
,[_Main_Route_]  Main_Route    
,[_Main___OW_or_RT_]  Main___OW_or_RT    
,[_Plant_Arr_Day_]  Plant_Arr_Day    
,cast([_Plant_Arr_Time_] as datetime)  Plant_Arr_Time    
,[_Main_SCAC_]  Main_SCAC    
,[_Delivery_To_]  Delivery    
,[_Pure_Transit_Time_]  Pure_Transit_Time    
,[_Prev_Week_Transit_Time_]  Prev_Week_Transit_Time    
,[_Transit_Time_diff_from_prev_week_]  Transit_Time_diff_from_prev_week    
,[_Is_Carrier_Changed__]  Is_Carrier_Changed    
,[_Is_Mode_Changed__]  Is_Mode_Changed    
,[_Is_Ship_Days_Changed__]  Is_Ship_Days_Changed    
,[_Is_Dynamic_Route__]  Is_Dynamic_Route    
,[_Is_W2_route__]  Is_W2_route    
,[_Ship_Freq_]  Ship_Freq    
,[_Del_Freq_]  Del_Freq    
,[_Route_Transit_Days_]  Route_Transit_Days    
,[_Release_Transit_Days_]  Release_Transit_Day    
,[_862_Prev_Week_Change_]  "862_Prev_Week_Change"    
,[_830_Prev_Transit_Days_]  "830_Prev_Transit_Days"    
,[_Filler_1_]  Filler_1    
,[_Filler_2_]  Filler_2    
,[_Filler_3_]  Filler_3    
,[_Filler_4_]  Filler_4    
,[_Filler_5_]  Filler_5    
,cast([_Create_Date_]  as datetime) Create_Date    
,[_Create_User_]  Create_User    
,cast([_Update_Date_]   as datetime) Update_Date    
,[_Update_User_]  Update_User    
,[_Route_Cost_]  Route_Cost    
,[_CD_1_Handling_Cost_]  CD_1_Handling_Cost    
,[_CD_2_Handling_Cost_]  CD_2_Handling_Cost    
,[_CD_3_Handling_Cost_]  CD_3_Handling_Cost    
,[_CD_4_Handling_Cost_]  CD_4_Handling_Cost    
,[_CD_1_Empty_Handling_Cost_]  CD_1_Empty_Handling_Cost    
,[_CD_2_Empty_Handling_Cost_]  CD_2_Empty_Handling_Cost    
,[_CD_3_Empty_Handling_Cost_]  CD_3_Empty_Handling_Cost    
,[_CD_4_Empty_Handling_Cost_]  CD_4_Empty_Handling_Cost    
,[_OD_Cost_]  OD_Cost    
,[_OD_wt_]  OD_wt    
,[_Shuttle_1_Cost_]  Shuttle_1_Cost    
,[_Shuttle_2_Cost_]  Shuttle_2_Cost    
,[_Shuttle_3_Cost_]  Shuttle_3_Cost    
,[_Shuttle_4_Cost_]  Shuttle_4_Cost    
,[_Main_Cost_]  Main_Cost    
,[_Route_Wt_]  Route_Wt    
,[_Shuttle_1_Wt_]  Shuttle_1_Wt    
,[_Shuttle_2_Wt_]  Shuttle_2_Wt    
,[_Shuttle_3_Wt_]  Shuttle_3_Wt    
,[_Shuttle_4_Wt_]  Shuttle_4_Wt    
,[_Main_Wt_]  Main_Wt    
,[_Route_Cube_]  Route_Cube    
,[_Shuttle_1_Cube_]  Shuttle_1_Cube    
,[_Shuttle_2_Cube_]  Shuttle_2_Cube    
,[_Shuttle_3_Cube_]  Shuttle_3_Cube    
,[_Shuttle_4_Cube_]  Shuttle_4_Cube    
,[_Main_Cube_]  Main_Cube    
,[_Last_Release_Date_]  Last_Release_Date    
,[_Is_in_Execution__]  Is_in_Execution    
,[_Route_ACost_]  Route_ACost    
,[_Shuttle_1_ACost_]  Shuttle_1_ACost    
,[_Shuttle_2_ACost_]  Shuttle_2_ACost    
,[_Shuttle_3_ACost_]  Shuttle_3_ACost    
,[_Shuttle_4_ACost_]  Shuttle_4_ACost    
,[_Main_ACost_]  Main_ACost    
,[_Is_Supplier_Signoff_Rcvd__]  Is_Supplier_Signoff_Rcvd    
,[_Is_Carrier_Signoff_Rcvd__]  Is_Carrier_Signoff_Rcvd    
,[_Route_User_Comments_]  Route_User_Comments    
,cast(replace([_Period_],'"','')as date)  "Period"    
,[_Proper_Shipping_Name_]  Proper_Shipping_Name    
,[_Hazmat_Class_]  Hazmat_Class    
,[_UNNA_ID_]  UNNA_ID    
,[_Pkg_Group_]  Pkg_Group    
,[_IMDG_Class_]  IMDG_Class    
,[_Tunnel_Restriction__]  Tunnel_Restriction    
,[_Leadtime_]  Leadtime    
,[_Buffered_Leadtime_]  Buffered_Leadtime    
,[_Leadtime___Part_Match_Count_]  Leadtime___Part_Match_Count    
,[_Leadtime___Within_day_Part_Count_]  Leadtime___Within_day_Part_Count    
,[_Leadtime___GT_day_Part_Count_]  Leadtime___GT_day_Part_Count    
,[_Leadtime___LT_day_Part_Count_]  Leadtime___LT_day_Part_Count    
,[_Plant_Vendor_Code_]  Plant_Vendor_Code    
,[_Add_Ship_Days_]  Add_Ship_Day    
,[_Add_Ship_Hours_]  Add_Ship_Hour    
,[_Day_Buffered__Leadtime_]  Day_Buffered__Leadtime    
,case when CHARINDEX('-',[_Pickup_Route_]) = 0    
  Then [_Pickup_Route_]    
  else left([_Pickup_Route_],charindex('-',[_Pickup_Route_])-1)    
  end    
  Customer    
,GETDATE() Last_update    
    
from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]    
    
    
;WITH NormalizedRouteBrief AS
(
    SELECT
        UPPER(LTRIM(RTRIM(brief_route))) AS brief_route,
        NULLIF(UPPER(LTRIM(RTRIM(cus))), '') AS cus
    FROM [VGS_IDASH].[dbo].[METRIX_Route_Brief]
    WHERE NULLIF(LTRIM(RTRIM(brief_route)), '') IS NOT NULL
),
RouteCustomerResolution AS
(
    SELECT
        brief_route,

        COUNT
        (
            DISTINCT
            CASE
                WHEN cus <> 'DMS' THEN cus
            END
        ) AS NonDmsCustomerCount,

        MIN
        (
            CASE
                WHEN cus <> 'DMS' THEN cus
            END
        ) AS NonDmsCustomer,

        MAX
        (
            CASE
                WHEN cus = 'DMS' THEN 1
                ELSE 0
            END
        ) AS HasDms
    FROM NormalizedRouteBrief
    GROUP BY brief_route
)
UPDATE T
SET T.Customer =
    CASE
        /* Exactly one valid non-DMS mapping. */
        WHEN R.NonDmsCustomerCount = 1
         AND LEN(R.NonDmsCustomer) = 3
            THEN R.NonDmsCustomer

        /* DMS-only routes remain deliberately excluded. */
        WHEN R.NonDmsCustomerCount = 0
         AND R.HasDms = 1
            THEN 'DMS'

        /*
           Missing, blank, invalid, or ambiguous mappings are retained
           without assigning the route to a customer.
        */
        ELSE NULL
    END
FROM [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT_TEMPCUST] AS T
LEFT JOIN RouteCustomerResolution AS R
    ON R.brief_route =
       UPPER(LTRIM(RTRIM(T.Customer)));
         
    
    
insert  [VGS_IDASH].[dbo].[METRIX_RPT_NXD_TRANSIT]    
  select *   
--  into METRIX_RPT_NXD_TRANSIT_tmp_230620  
  from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT_TEMPCUST]   
WHERE Customer IS NULL
   OR
   (
       LEN(LTRIM(RTRIM(Customer))) = 3
       AND UPPER(LTRIM(RTRIM(Customer))) <> 'DMS'
   );
      
    
    
    
    
    
    
    
   delete from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]    
   end    
    
/* Ken removed 211207    
    
    
 delete from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]    
 BULK INSERT  [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]    
  from 'E:\Data_import\SIA\RPT_NXD_TRANSIT.CSV'    
   with ( FIRSTROW = 2,FIELDTERMINATOR = '","',    
    ROWTERMINATOR = '\n')    
    
    
    
while  ( select count(*) from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]) > 0    
begin     
delete from [VGS_IDASH].[dbo].[METRIX_RPT_NXD_TRANSIT] where customer = 'SIA'    
insert  into   [VGS_IDASH].[dbo].[METRIX_RPT_NXD_TRANSIT]    
select right([_Plant_],len([_Plant_])-1) PLANT    
,[_Plant_Name_]  Plant_Name    
,[_Supplier_]  Supplier    
,[_Supplier_Name_]  Supplier_Name    
,[_Supplier_City_]  Supplier_City    
,[_Supplier_State_]  Supplier_State    
,[_Suppleir_Zip_]  Suppleir_Zip    
,[_Supplier_Country_]  Supplier_Country    
,cast([_Route_Eff_Date_]  as datetime) Route_Eff_Date    
,cast([_Route_Term_Date_]   as datetime)Route_Term_Date    
,[_Route_Type_]  Route_Type    
,[_OW_RT_]  OW_RT    
,[_Transporter_]  Transporter    
,[_SCAC_]  SCAC    
,[_SCAC_Name_]  SCAC_Name    
,[_Managed_By_]  Managed_By    
,[_Pickup_Route_]  Pickup_Route    
,[_Mode_]  Mode    
,[_Ship_Day_]  Ship_Day    
,cast([_Ship_Time_] as datetime) Ship_Time    
,[_Ship_Cube_____]  Ship_Cube    
,[_Ship_Weight_]  Ship_Weight    
,[_CD1_]  CD1    
,[_CD1_Arr_Day_]  CD1_Arr_Day    
,cast([_CD1_Arr_Time_]  as datetime)CD1_Arr_Time    
,[_Shuttle_1_Route_]  Shuttle_1_Route    
,[_CD1_Dep_Day_]  CD1_Dep_Day    
,cast([_CD1_Dep_Time_]  as datetime)CD1_Dep_Time    
,[_CD2_]  CD2    
,[_CD2_Arr_Day_]  CD2_Arr_Day    
,cast([_CD2_Arr_Time_]  as datetime)CD2_Arr_Time    
,[_Shuttle_2_Route_]  Shuttle_2_Route    
,[_CD2_Dep_Day_]  CD2_Dep_Day    
,[_CD2_Dep_Time_]  CD2_Dep_Time    
,[_CD3_]  CD3    
,[_CD3_Arr_Day_]  CD3_Arr_Day    
,cast([_CD3_Arr_Time_]  as datetime)CD3_Arr_Time    
,[_Shuttle_3_Route_]  Shuttle_3_Route    
,[_CD3_Dep_Day_]  CD3_Dep_Day    
,cast([_CD3_Dep_Time_] as datetime) CD3_Dep_Time    
,[_CD4_]  CD4    
,[_CD4_Arr_Day_]  CD4_Arr_Day    
,cast([_CD4_Arr_Time_] as datetime) CD4_Arr_Time    
,[_CD4_Dep_Day_]  CD4_Dep_Day    
,cast([_CD4_Dep_Time_]  as datetime) CD4_Dep_Time    
,[_Main_Route_]  Main_Route    
,[_Main___OW_or_RT_]  Main___OW_or_RT    
,[_Plant_Arr_Day_]  Plant_Arr_Day    
,cast([_Plant_Arr_Time_] as datetime)  Plant_Arr_Time    
,[_Main_SCAC_]  Main_SCAC    
,[_Delivery_To_]  Delivery    
,[_Pure_Transit_Time_]  Pure_Transit_Time    
,[_Prev_Week_Transit_Time_]  Prev_Week_Transit_Time    
,[_Transit_Time_diff_from_prev_week_]  Transit_Time_diff_from_prev_week    
,[_Is_Carrier_Changed__]  Is_Carrier_Changed    
,[_Is_Mode_Changed__]  Is_Mode_Changed    
,[_Is_Ship_Days_Changed__]  Is_Ship_Days_Changed    
,[_Is_Dynamic_Route__]  Is_Dynamic_Route    
,[_Is_W2_route__]  Is_W2_route    
,[_Ship_Freq_]  Ship_Freq    
,[_Del_Freq_]  Del_Freq    
,[_Route_Transit_Days_]  Route_Transit_Days    
,[_Release_Transit_Days_]  Release_Transit_Day    
,[_862_Prev_Week_Change_]  "862_Prev_Week_Change"    
,[_830_Prev_Transit_Days_]  "830_Prev_Transit_Days"    
,[_Filler_1_]  Filler_1    
,[_Filler_2_]  Filler_2    
,[_Filler_3_]  Filler_3    
,[_Filler_4_]  Filler_4    
,[_Filler_5_]  Filler_5    
,cast([_Create_Date_]  as datetime) Create_Date    
,[_Create_User_]  Create_User    
,cast([_Update_Date_]   as datetime) Update_Date    
,[_Update_User_]  Update_User    
,[_Route_Cost_]  Route_Cost    
,[_CD_1_Handling_Cost_]  CD_1_Handling_Cost    
,[_CD_2_Handling_Cost_]  CD_2_Handling_Cost    
,[_CD_3_Handling_Cost_]  CD_3_Handling_Cost    
,[_CD_4_Handling_Cost_]  CD_4_Handling_Cost    
,[_CD_1_Empty_Handling_Cost_]  CD_1_Empty_Handling_Cost    
,[_CD_2_Empty_Handling_Cost_]  CD_2_Empty_Handling_Cost    
,[_CD_3_Empty_Handling_Cost_]  CD_3_Empty_Handling_Cost    
,[_CD_4_Empty_Handling_Cost_]  CD_4_Empty_Handling_Cost    
,[_OD_Cost_]  OD_Cost    
,[_OD_wt_]  OD_wt    
,[_Shuttle_1_Cost_]  Shuttle_1_Cost    
,[_Shuttle_2_Cost_]  Shuttle_2_Cost    
,[_Shuttle_3_Cost_]  Shuttle_3_Cost    
,[_Shuttle_4_Cost_]  Shuttle_4_Cost    
,[_Main_Cost_]  Main_Cost    
,[_Route_Wt_]  Route_Wt    
,[_Shuttle_1_Wt_]  Shuttle_1_Wt    
,[_Shuttle_2_Wt_]  Shuttle_2_Wt    
,[_Shuttle_3_Wt_]  Shuttle_3_Wt    
,[_Shuttle_4_Wt_]  Shuttle_4_Wt    
,[_Main_Wt_]  Main_Wt    
,[_Route_Cube_]  Route_Cube    
,[_Shuttle_1_Cube_]  Shuttle_1_Cube    
,[_Shuttle_2_Cube_]  Shuttle_2_Cube    
,[_Shuttle_3_Cube_]  Shuttle_3_Cube    
,[_Shuttle_4_Cube_]  Shuttle_4_Cube    
,[_Main_Cube_]  Main_Cube    
,[_Last_Release_Date_]  Last_Release_Date    
,[_Is_in_Execution__]  Is_in_Execution    
,[_Route_ACost_]  Route_ACost    
,[_Shuttle_1_ACost_]  Shuttle_1_ACost    
,[_Shuttle_2_ACost_]  Shuttle_2_ACost    
,[_Shuttle_3_ACost_]  Shuttle_3_ACost    
,[_Shuttle_4_ACost_]  Shuttle_4_ACost    
,[_Main_ACost_]  Main_ACost    
,[_Is_Supplier_Signoff_Rcvd__]  Is_Supplier_Signoff_Rcvd    
,[_Is_Carrier_Signoff_Rcvd__]  Is_Carrier_Signoff_Rcvd    
,[_Route_User_Comments_]  Route_User_Comments    
,cast([_Period_] as date)  "Period"    
,[_Proper_Shipping_Name_]  Proper_Shipping_Name    
,[_Hazmat_Class_]  Hazmat_Class    
,[_UNNA_ID_]  UNNA_ID    
,[_Pkg_Group_]  Pkg_Group    
,[_IMDG_Class_]  IMDG_Class    
,[_Tunnel_Restriction__]  Tunnel_Restriction    
,[_Leadtime_]  Leadtime    
,[_Buffered_Leadtime_]  Buffered_Leadtime    
,[_Leadtime___Part_Match_Count_]  Leadtime___Part_Match_Count    
,[_Leadtime___Within_day_Part_Count_]  Leadtime___Within_day_Part_Count    
,[_Leadtime___GT_day_Part_Count_]  Leadtime___GT_day_Part_Count    
,[_Leadtime___LT_day_Part_Count_]  Leadtime___LT_day_Part_Count    
,[_Plant_Vendor_Code_]  Plant_Vendor_Code    
,[_Add_Ship_Days_]  Add_Ship_Day    
,[_Add_Ship_Hours_]  Add_Ship_Hour    
,[_Day_Buffered__Leadtime_]  Day_Buffered__Leadtime    
,'SIA' Customer    
,GETDATE() Last_update    
    
from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]    
delete from [VGS_IDASH].[dbo].[IMPORT_RPT_NXD_TRANSIT]    
    
END    
    
*/    
    
-- update Brief table    
delete from METRIX_RPT_NXD_TRANSIT_Brief    
    
--Main Routes    
insert into METRIX_RPT_NXD_TRANSIT_Brief    
select  customer    
,case when CHARINDEX('-',[Pickup_Route]) = 0    
  Then [Pickup_Route]    
  else left([Pickup_Route],charindex('-',[Pickup_Route])-1)    
  end short_pickuproute    
  ,supplier    
  ,plant    
  ,scac    
  ,delivery    
  ,CD1    
    
 from METRIX_RPT_NXD_TRANSIT      
  where cd1 = ''    
--CD1 Routes    
insert into METRIX_RPT_NXD_TRANSIT_Brief    
select  customer    
,case when CHARINDEX('-',[Pickup_Route]) = 0    
  Then [Pickup_Route]    
  else left([Pickup_Route],charindex('-',[Pickup_Route])-1)    
  end short_pickuproute    
  ,supplier    
  ,plant    
  ,scac    
  ,delivery    
  ,CD1    
    
 from METRIX_RPT_NXD_TRANSIT      
  where cd1 <> ''    
    
--CD2 Routes    
insert into METRIX_RPT_NXD_TRANSIT_Brief    
select  customer    
,case when CHARINDEX('-',[Pickup_Route]) = 0    
  Then [Pickup_Route]    
  else left([Pickup_Route],charindex('-',[Pickup_Route])-1)    
  end short_pickuproute    
  ,supplier    
  ,plant    
  ,scac    
  ,delivery    
  ,CD2    
    
 from METRIX_RPT_NXD_TRANSIT      
  where cd2 <> ''    
    
    
--CD3 Routes    
insert into METRIX_RPT_NXD_TRANSIT_Brief    
select  customer    
,case when CHARINDEX('-',[Pickup_Route]) = 0    
  Then [Pickup_Route]    
  else left([Pickup_Route],charindex('-',[Pickup_Route])-1)    
  end short_pickuproute    
  ,supplier    
  ,plant    
  ,scac    
  ,delivery    
  ,CD3    
    
 from METRIX_RPT_NXD_TRANSIT      
  where cd3 <> ''    
    
--CD4 Routes    
insert into METRIX_RPT_NXD_TRANSIT_Brief    
select  customer    
,case when CHARINDEX('-',[Pickup_Route]) = 0    
  Then [Pickup_Route]    
  else left([Pickup_Route],charindex('-',[Pickup_Route])-1)    
  end short_pickuproute    
  ,supplier    
  ,plant    
  ,scac    
  ,delivery    
  ,CD4    
    
 from METRIX_RPT_NXD_TRANSIT      
  where cd4 <> ''    
    
     
 IF OBJECT_ID('tempdb..#tmpnxdbrief') IS NOT NULL    
    DROP TABLE #tmpnxdbrief    
 select *    
  into #tmpnxdbrief     
  from     
  (select * from METRIX_RPT_NXD_TRANSIT_Brief    
 group by    
  customer     
  ,Short_pickuproute     
  ,Short_supplier     
  ,Short_plant     
  ,Short_SCAC     
  ,Short_delivery     
  ,short_Crossdock )list      
WHERE Customer IS NULL
   OR UPPER(LTRIM(RTRIM(Customer))) NOT IN ('FAU', 'SIA');
      
delete  from METRIX_RPT_NXD_TRANSIT_Brief    
    
insert into METRIX_RPT_NXD_TRANSIT_Brief    
select * from   #tmpnxdbrief    
    
drop table #tmpnxdbrief    
    
    
    
    
    
    
    
    
    
--update Brief Table    
delete from METRIX_RPT_NXD_TRANSIT_Brief_Locations    
--Suppliers  insert into METRIX_RPT_NXD_TRANSIT_Brief_Locations    
select customer,short_supplier,'Supplier' LocationType     
 from METRIX_RPT_NXD_TRANSIT_Brief    
 group by customer,short_supplier    
  --where customer not in ('fau','sia')    
--Plant    
insert into METRIX_RPT_NXD_TRANSIT_Brief_Locations    
select customer,short_plant,'Plant' LocationType     
 from METRIX_RPT_NXD_TRANSIT_Brief    
 group by customer,short_plant    
  --where customer not in ('fau','sia')    
--SCAC    
insert into METRIX_RPT_NXD_TRANSIT_Brief_Locations    
select customer,short_SCAC,'SCAC' LocationType     
 from METRIX_RPT_NXD_TRANSIT_Brief    
 group by customer,short_SCAC    
    
--crossdocks    
--SCAC    
insert into METRIX_RPT_NXD_TRANSIT_Brief_Locations    
select customer,short_crossdock,'Crossdock' LocationType     
 from METRIX_RPT_NXD_TRANSIT_Brief    
  where short_crossdock <> ''    
 group by customer,short_crossdock    
       
--relays (other)    
insert into METRIX_RPT_NXD_TRANSIT_Brief_Locations    
select distinct customer,stop_code,'Other'    
  FROM [VGS_IDASH].[dbo].[Metrix_VGS_LOAD_LEG_STOP_HOURLY_Adjusted]    
  where --customer = 'nis'and    
 stop_name like '%relay%'    
    
-- remove dups    
    
IF OBJECT_ID('tempdb..#tmpbrieflocation') IS NOT NULL    
    DROP TABLE #tmpbrieflocation    
select *     
into #tmpbrieflocation    
from METRIX_RPT_NXD_TRANSIT_Brief_Locations    
 group by customer ,short_supplier ,LocationType    
    
    
delete from METRIX_RPT_NXD_TRANSIT_Brief_Locations    
    
insert into METRIX_RPT_NXD_TRANSIT_Brief_Locations    
 select * from #tmpbrieflocation    
 drop table  #tmpbrieflocation    
    
delete from [VGS_IDASH].[dbo].[METRIX_RPT_NXD_TRANSIT_OD_VOLWT]    
insert into [VGS_IDASH].[dbo].[METRIX_RPT_NXD_TRANSIT_OD_VOLWT]    
    
SELECT  [customer]    
          ,[Short_supplier]    
      ,[Short_plant]    
            ,[Short_delivery]    
     FROM [VGS_IDASH].[dbo].[METRIX_RPT_NXD_TRANSIT_BRIEF]    
      group by [customer]    
          ,[Short_supplier]    
      ,[Short_plant]    
          
      ,[Short_delivery]    
     
    
    
    
select customer,count(*) from [VGS_IDASH].[dbo].[METRIX_RPT_NXD_TRANSIT] group by customer    
END  