USE [VGS_IDASH]
GO
/****** Object:  StoredProcedure [dbo].[SP_METRIX_RPT_PCA_OD_2306]    Script Date: 8/14/2026 9:20:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[SP_METRIX_RPT_PCA_OD_2306]
as
begin

truncate table [IMPORT_RPT_PCA_OD_2306]
 BULK INSERT  [VGS_IDASH].[dbo].[IMPORT_RPT_PCA_OD_2306]
--BULK INSERT  [VGS_IDASH].[dbo].[IMPORT_VGS_LOAD_LEG_STOP_HOURLY_adjusted]
		from 'E:\Data_Import\ALMS\Inbound\RPT_PCA_OD.csv'
			with ( FIRSTROW = 2,FIELDTERMINATOR = '","',
				ROWTERMINATOR = '\n')


truncate table  METRIX_RPT_PCA_OD_2306
Insert into METRIX_RPT_PCA_OD_2306
SELECT  Replace([TRIP_ID],'"','') Trip_id
      ,[OD_ID]
      ,[PU_Route]
      ,[PU_Trip_Version]
      ,[PU_Trip_Leg]
      ,[PU_Mode]
      ,[PU_Route_Pattern]
      ,[PU_SCAC]
      ,[PU_SCAC_Name]
      ,[PU_Transporter]
      ,[PU_Trip_Managed_By]
      ,[PU_Is_RT]
      ,[PU_Trip_Freq]
      ,[PU_OD_Freq]
      ,[PU_OD_Ship_Days]
      ,[PU_Trip_Distance]
      ,[Destination]
      ,[Account]
      ,[Customer]
      ,[Account_Name]
      ,[Dock]
      ,[Dock_Name]
      ,[Dock_City]
      ,[Dock_State]
      ,[Dock_Zip]
      ,[Dock_Country]
      ,[Org]
      ,[Org_Name]
      ,[Org_City]
      ,[Org_State]
      ,[Org_Zip]
      ,[Org_Country]
      ,[Period]
      ,[Adj_OD_Wt]
      ,[Adj_OD_Vol]
      ,[Adj_OD_Wt1]
      ,[Adj_OD_Vol1]
      ,[PU_Fuel]
      ,[PU_Stop]
      ,[PU_Loaded_Cost]
      ,[PU_Total_Cost]
      ,[Consol_Points]
      ,[Consol_Handling]
      ,[Consol_Routes]
      ,[Consol_Fuel]
      ,[Consol_Stop]
      ,[Consol_Loaded_Cost]
      ,[Consol_Total_Cost]
      ,[CD_1]
      ,[CD_1_Handling]
      ,[Shuttle_1_Route]
      ,[Shuttle_1_Fuel]
      ,[Shuttle_1_Stop]
      ,[Shuttle_1_Loaded_Cost]
      ,[Shuttle_1_Total_Cost]
      ,[CD_2]
      ,[CD_2_Handling]
      ,[Shuttle_2_Route]
      ,[Shuttle_2_Fuel]
      ,[Shuttle_2_Stop]
      ,[Shuttle_2_Loaded_Cost]
      ,[Shuttle_2_Total_Cost]
      ,[CD_3]
      ,[CD_3_Handling]
      ,[Shuttle_3_Route]
      ,[Shuttle_3_Fuel]
      ,[Shuttle_3_Stop]
      ,[Shuttle_3_Loaded_Cost]
      ,[Shuttle_3_Total_Cost]
      ,[CD_4]
      ,[CD_4_Handling]
      ,[Decon_Points]
      ,[Decon_Handling]
      ,[Decon_Routes]
      ,[Decon_Fuel]
      ,[Decon_Stop]
      ,[Decon_Loaded_Cost]
      ,[Decon_Total_Cost]
      ,[Main_Route]
      ,[Main_Fuel]
      ,[Main_Stop]
      ,[Main_Loaded_Cost]
      ,[Main_Total_Cost]
      ,[Wkly_Handling]
      ,[Wkly_Fuel]
      ,[Wkly_Stop]
      ,[Wkly_Loaded_Cost]
      ,[Wkly_Total_Cost]
      ,[Annual_Total_Cost]
      ,[Cost_per_Unit_Wt]
      ,[Filler_1]
      ,[Filler_2]
      ,[Filler_3]
      ,[Filler_4]
      ,[Filler_5]
      ,[User_Comments]
      ,[Create_Date]
      ,[Create_User]
      ,[Update_Date]
      ,[Update_User]
      ,[Total_Handling]
      ,[Total_Fuel]
      ,[Total_Stop]
      ,[Total_Loaded_Cost]
      ,[Total_Cost]
      ,[Budget_Type]
      ,[Budget_CPU]
      ,[Prod_Vol]
      ,[Planned_CPU]
      ,[Ret_OD_Freq]
      ,[Ret_OD_Wt]
      ,[Ret_OD_Wt1]
      ,[Ret_OD_Vol]
      ,[Ret_OD_Vol1]
      ,[Ret_Total_Handling]
      ,[Ret_Total_Fuel]
      ,[Ret_Total_Stop]
      ,[Ret_Total_Loaded_Cost]
      ,[Ret_Total_Cost]
      ,[Ret_Wkly_Total_Cost]
      ,[Reference]
	  ,getdate() Last_update

  FROM [VGS_IDASH].[dbo].[IMPORT_RPT_PCA_OD_2306]

END