USE [VGS_IDASH]
GO
/****** Object:  StoredProcedure [dbo].[SP_RPT_COST_ALLOCATION_2306]    Script Date: 5/13/2026 3:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[SP_RPT_COST_ALLOCATION_2306]
as 
Begin
 truncate table IMPORT_RPT_COST_ALLOCATION_2306
BULK INSERT IMPORT_RPT_COST_ALLOCATION_2306
		from 'E:\Data_Import\ALMS\Inbound\RPT_COST_ALLOCATION.csv'
			with ( FIRSTROW = 2,FIELDTERMINATOR = '","',
				ROWTERMINATOR = '\n')


while (select count(*) from IMPORT_RPT_COST_ALLOCATION_2306) > 0
Begin
truncate table METRIX_RPT_COST_ALLOCATION_2306
insert  into METRIX_RPT_COST_ALLOCATION_2306
select 
		Replace([Load_Leg_Tag],'"','') Load_Leg_Ta
      ,[Load_Label]
      ,[Status]
      ,[Route]
      ,[Version]
      ,[Leg]
      ,[Load_Leg_Start_Date]
      ,[Load_Leg_System_Week]
      ,[Load_Leg_Week]
      ,[Load_Leg_Month_of_Year]
      ,[Load_Leg_Week_of_Month]
      ,[Load_Leg_Year]
      ,[Invoice_Label]
      ,[Invoice_System_Week]
      ,[Invoice_Week]
      ,[Invoice_Year]
      ,[Acc_Loc]
      ,[Acc_Loc_Name]
      ,[Org_Loc]
      ,[Dstn_Loc]
      ,[Dock_Loc]
      ,[Carrier]
      ,[Carrier_Name]
      ,[Transporter]
      ,[Ship_Wt]
      ,[Assumed_Wt]
      ,[Cost_Type]
      ,[Currency]
      ,[Net_Amount]
      ,[Loaded_Cost]
      ,[Fuel_Surcharge]
      ,[Alloc_Net_Amount]
      ,[Alloc_Loaded_Cost]
      ,[Alloc_Flat_Charge]
      ,[Alloc_Total_CPM]
      ,[Alloc_Fuel_Surcharge]
      ,[Alloc_Min_Charge]
      ,[Alloc_Stop_Charge]
      ,[Alloc_Toll_Fee]
      ,[Alloc_Ferry_Fee]
      ,[Alloc_Total_Other_Fee]
      ,[Alloc_Second_Driver_Cost]
      ,[Alloc_TONU_Fee]
      ,[Alloc_Detention_Charge]
      ,[User_Comments]
      ,[Create_Date]
      ,[Create_User]
      ,[Update_Date]
      ,[Update_User]
      ,[Invoice_Header_Label]
      ,[Load_Leg_ID]
      ,replace([Xod_Id],'"','') [Xod_Id]
	  ,getdate() Last_update

 FROM [VGS_IDASH].[dbo].[IMPORT_RPT_COST_ALLOCATION_2306]
 truncate table IMPORT_RPT_COST_ALLOCATION_2306
 End --loop
 End --Procedure
